@import "../../Utils/mixins.scss";

.vertical-timeline {
    @include smDevice {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @include xsDevice {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}